.ads-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    height: 100%;
    border: solid 5px grey;
    &:hover {
        cursor: pointer;
    }

    &__img {
        background-color: greenyellow;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__title {
        font-size: 1.3rem;
    }

    &__info {
        font-size: 1rem;
    }
}