.content {

  &__news-ads {
    position: relative;
    margin-top: 20px;
  }
  
  &__services {
    margin-top: 16px;
  }
  
  &__search {
    width: 100%;
    margin-top: 18px;
  }
  
  
  &__search-example {
    margin-top: 0.7rem;
  }
  &__advert-box {
    width: 70%;
    height: 80px;
    margin-top: 10px;
    background: @ads-box-background;
    border-radius: 5px;
  }
  
  &__urban {
    margin-top: 13px;
    width: 60%;
  }

  &__infocards {
    position: absolute;
    left: 85%;
    top: 0;
  }

}
