.currencies {
  display: flex;

  &__item + &__item {
    margin-left: 0.4rem;
  }

  &__item:nth-child(3n) {
    margin-left: 0.4rem;
  }
  
  &__item {
    &._name {
      .font-bold;
    }
    &._number {
      
    }
    &._dynamics {
      color: @grayed-text;
    }
  }
}