.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    &-link {
      margin-right: 16px;
    }
  }

  &__right {
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &-link {
      margin-right: 20px;
    }
  }

}