.infocards {
    position: absolute;
    left: 1715px;
    top: 10px;
    width: calc(1980px - 1715px);

    &__card {
        width: 220px;
        box-shadow: 0 0 5px @gray-shadow;
    }

    &__card + &__card {
        margin-top: 10px;
    }
}