.link {
  text-decoration: none;
  color: @link-primary;
  transition: color 0.3s ease-in-out;

  &__icon {
    margin-right: 5px;
    width: @font-small-size;
    height: @font-small-size;

    &._sm {
      width: @font-small-size;
      height: @font-small-size;
    }

    &._xl {
      width: @font-medium-size;
      height: @font-medium-size;
    }
  }

  &._secondary {
    color: @link-secondary;
  }
  
  &._accent {
    color: @link-accent;
    .font-regular;
  }

  &._secondary-accent {
    color: @link-secondary-accent;
  }

  &._select {
    color: @link-primary-select;
  }

  &._sm {
    .font-regular-small;
  }

  &:hover {
    cursor: pointer;
    color: @link-hover;
    fill: @link-hover;
  }

  .focus-outline();
}