.news {
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;

    &-item {
      //font-size: 1.2rem;
      //font-weight: 550;
      .font-bold-medium;
    }
    &-item + &-item {
      padding-left: 1rem;
    }
  }
    
  &__datetime {
    color: @grayed-text;
    margin-left: 1rem;
    //font-size: 0.8rem;
    .font-regular-small;
  }
    
  &__preview {
    position: relative;
  }
}