.news {
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    
    &-item {
      flex: 0 0 auto;
      .font-regular-big;
    }

    &-item + &-item {
      padding-left: 1rem;
    }
  }
    
  &__datetime {
    color: @grayed-text;
    margin-left: 1rem;
    .font-regular-small;
  }
    
  &__list {
    margin-top: 11px;
  }

}