.news-ads {
    display: flex;
    margin-top: 3px;
    
    &__news {

    }

    &__ads {
        margin-left: 10px;
        padding-top: 50px;
    }

    &__currencies {
        margin-top: 10px;
    }
}