.news {

  
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    
    &-item {
      flex: 0 0 auto;  
      font-size: 1.2rem;
      font-weight: 550;
    }

    &-item + &-item {
      padding-left: 1rem;
    }
  }
    
  &__datetime {
    color: lightslategray;
    font-size: 0.8rem;
    margin-left: 1rem;
  }
    
  &__preview {
    font-size: 0.5rem;
    position: relative;
  }

}