.search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: url("https://yastatic.net/s3/home-static/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg");
    display: block;
    font-size: 2.5rem;
    position: absolute;
    transform: translateX(-100%);
  }
  
  .search-box__input {
    width: 700px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    border: 2px solid rgb(255, 230, 0);
    margin-right: -5px;

    &:focus {
      outline: none;
    }
  }
  .search-box__submit {
    cursor: pointer;
    background-color: rgb(255, 230, 0);
    border: solid 2px rgb(255, 230, 0);
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgb(255, 220, 0);
      border-color: rgb(255, 220, 0);;
    }

    &:focus {
      outline: none;
    }
  }  
}