.search-box {
    &__input {
        .font-regular-big;
        width: 755px;
        padding: 5px 11px;
        border: 2px solid @yandex-yellow;

        &:focus {
            outline: none;
        }
    }

    &__voice-search {
        fill: @grayed-text;
        width: 24px;
        height: 24px;
        transition: color 0.3s ease-in-out;

        position: relative;
        top: 7px;
        left: -78px;

        &:hover {
            fill: darken(@grayed-text, 15%);
        }
    }

    &__keyboard {
        color: @grayed-text;
        width: 24px;
        height: 24px;
        transform: scaleY(0.7) scaleX(1.15);
        transition: color 0.3s ease-in-out;

        position: relative;
        top: 7px;
        left: -72px;

        &:hover {
            color: darken(@grayed-text, 15%);
        }
    }

    &__submit {
        .font-regular-medium-big;
        cursor: pointer;
        background-color: @yandex-yellow;
        border: solid 2px @yandex-yellow;
        padding: 6px 12px 7px;
        transition: all 0.3s ease-in-out;
        position: relative;
        left: -56px;
        top: -1px;

        &:hover {
            background-color: @yandex-yellow-darker;
            border-color: @yandex-yellow-darker;
        }

        &:focus {
            outline: none;
        }
    }
}