.search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: url("https://yastatic.net/s3/home-static/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg");
    display: block;
    position: absolute;
    transform: translateX(-100%);
  }
  
  .search-box__input {
    width: 700px;
    line-height: 1.5rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    border: 2px solid @yandex-yellow;
    margin-right: -5px;
    //font-size: 1.2rem;
    .font-regular-medium;

    &:focus {
      outline: none;
    }
  }
  .search-box__submit {
    cursor: pointer;
    background-color: @yandex-yellow;
    border: solid 2px @yandex-yellow;
    padding: 0.3rem 0.5rem;
    transition: all 0.3s ease-in-out;
    //font-size: 1.2rem;
    .font-regular-medium;

    &:hover {
      background-color: @yandex-yellow-darker;
      border-color: @yandex-yellow-darker;
    }

    &:focus {
      outline: none;
    }
  }  
}