.urban {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  white-space: normal;
  
  &__item {

    &-header {
      .font-regular-big;

      & .link {
        &:nth-child(2) {
          .font-regular-medium;
          margin-left: 9px;
        }
      }
    }

    &-content {
      margin-top: 1px;
    }
  }

}