.weather {
    display: flex;
    justify-items: center;
    align-items: center;

    &__img {
        transform: scale(1.35);
        width: 48px;
        height: 48px;
        padding-top: 7px;
        margin-left: 2px;
        &:hover {
            cursor: pointer;
        }
    }

    &__temperature {
        margin-left: 5px;
        .font-regular-bigger;
    }

    &__info {
        margin-left: 15px;
    }
}