* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px rgb(138, 138, 138); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 16px;
}

.link {
    color: rgb(0, 119, 255);
}
.link._black {
    color: black;
}
.link._orange {
    color: orange;
}
.link._gray {
    color: gray;
}
.link._small {
    font-size: 0.7rem;
}

.link:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(190, 1, 1);
    cursor: pointer;
}

.sample-text {

}

.container {
    display: flex;
    justify-content: center;
}

.content {
}

.header {
    position: relative;
    left: 2%;
    width: 87%;
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem;
    align-content: end;
}

.header__spanned {
    width: 75%;
    display: flex;
    justify-content: end;
}

.header__item {
    margin: 0 0.5rem;
}

.content__news {
    position: relative;
    margin-top: 1rem;
    width: 49%;
    border: solid 1px black;
}

.news {
    width: 100%;
}

.news__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.news__nav-item {
    font-size: 1.1rem;
}

.news__nav-item + .news__nav-item {
    margin-left: 1rem;
}

.news__datetime {
    color: lightslategray;
    font-size: 0.8rem;
    margin-top: 0.75rem;
}

.news__preview {
    font-size: 1rem;
    position: relative;
}

.a-news__preview::before {
    content: '@';
    font-size: 1rem;
    position: absolute;
    left: -1.5rem;
}

.list {
    list-style: none;
    margin-top: 0.6rem;
}
.list__item {
    display: flex;
}
.list__item + .list__item {
    margin-top: 0.45rem;
}
.list__item-image {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    background-color: brown;
    margin-right: 0.5rem;
}
.list__item-icon {
    font-size: 1rem;
    margin-right: 0.7rem;
}

.content__currencies {
    margin-top: 0.5rem;
}
.currencies {
    display: flex;}
.currencies__item + .currencies__item {
    margin-left: 0.4rem;}
.currencies__item._name {
    /* font-weight: bold; */
}
.currencies__item._number {
}
.currencies__item._dynamics {
    font-weight: 300;
    color: dimgray;
}

.content__services {
    margin-top: 1.3rem;
    /* margin-left: -1rem; */
}
.services {
    display: flex;
}
.services__item + .services__item {
    margin-left: 3rem;
}
.widget {
    font-size: 30px;
    text-align: center;
}
.widget__description {
    font-size: 0.8rem;
    display: block;
}
.widget__img {
    transition: all 0.3s ease-in-out;
}
.widget:hover > .widget__img {
    transform: translateY(-5px);
}
.widget:hover > .widget__description {
    color: rgb(190, 1, 1);
}

.content__search {
    width: 100%;
    margin-top: 1.5rem;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.search::before {
    content: 'Яндекс';
    font-size: 2.5rem;
    position: absolute;
    transform: translateX(-140px);
}
.search-box__input {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    border: 2px solid rgb(255, 230, 0);
}
.search-box__submit {
    background-color: rgb(255, 230, 0);
    border: solid 2px rgb(255, 230, 0);
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
}

.content__search-example {
    margin-top: 0.7rem;
}
.content__advert-box {
    width: 70%;
    height: 80px;
    margin-top: 0.8rem;
    background-color: pink;
    border-radius: 5px;
    font-size: 3rem;
    font-style: italic;
}

.content__urban {
    margin-top: 1rem;
    width: 60%;
}
.urban {
    position: relative;
    width: 100%;
    border: solid 1px red;
    display: flex;
    /*justify-content: stretch;*/
    height: 100px;
}
.urban__plaque {
    border: solid 1px green;
    font-size: 1.1rem;
    color: rgb(0, 102, 255);
}
.plaque__content {
    display: flex;
    font-weight: 400;
    color: black;
    word-wrap: break-word;
}

.infocards-container {
    position: absolute;
    left: 81vw;
    top: 0;
    width: 20vw;
}
.infocards {
    list-style: none;
}
.info-card {
    height: 100px;
    width: 190px;
    margin: 1rem auto;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(126, 126, 126);
}
