.currencies {
  display: flex;

  &__item + &__item {
    margin-left: 0.4rem;}
  &__item._name {
    /* font-weight: bold; */
  }
  &__item._number {
  }
  &__item._dynamics {
    font-weight: 300;
    color: dimgray;
  }
}