.link {
  text-decoration: none;
  color: rgb(0, 119, 255);

  &__icon {
    font-size: 1rem;
  }

  &._black {
    color: black;
  }
  
  &._orange {
    color: orange;
  }

  &._gray {
    color: rgb(160, 160, 160);
  }

  &._small {
    font-size: 1.1rem;
    font-weight: 500;
  }

  &._openned {
    color: rgb(0, 89, 190);
  }

  &._closed {
    color: rgb(74, 159, 255);
  }

  &:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(190, 1, 1);
    cursor: pointer;
  }

  &:focus {
    outline: solid 2px rgb(255, 219, 14);
  }
}