.list {
  list-style: none;
  margin-top: 0.6rem;

  &__item {
    display: flex;
  }
  &__item + &__item {
    margin-top: 0.45rem;
  }
  &__item-icon {
    font-size: 1rem;
    margin-right: 0.7rem;
}
}