.urban {
    position: relative;
    width: 100%;
    border: solid 1px red;
    display: flex;
    /*justify-content: stretch;*/
    height: 100px;
  }
  .urban__item-header {
    border: solid 1px green;
    font-size: 1.1rem;
  }
  .urban__item-content {
    display: flex;
    font-weight: 400;
    color: black;
    word-wrap: break-word;
  }