.widget {
    font-size: 30px;
    text-align: center;
  }
  .widget__description {
    font-size: 0.8rem;
    display: block;
  }
  .widget__img {
    transition: all 0.3s ease-in-out;
  }
  .widget:hover > .widget__img {
    transform: translateY(-5px);
  }
  .widget:hover > .widget__description {
    color: rgb(190, 1, 1);
  }